.c-skip-link:focus {
  position: absolute;
  background-color: #005d64;
  color: $white;
  font-weight: 600;
  padding: 1rem 2rem;
  outline: 3px solid $white;
  opacity: initial;
  text-decoration: underline;
  text-underline-position: under;
  transition: none;
}
